<html data-ng-app="time_tracker">
  <head>
    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>

    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script>

    <!-- Javascript -->
    <script src="/assets/js/routes.js"></script>
    <script src="/assets/js/controllers/loginController.js"></script>
    <script src="/assets/js/controllers/logoutController.js"></script>
    <script src="/assets/js/controllers/authSuccessController.js"></script>
    <script src="/assets/js/controllers/dashboardController.js"></script>
    <script>
    </script>
  </head>
  <body>
    <header ng-show="loggedIn" ng-controller='LogoutController'>
      <button class="rightfloat btn btn-primary" ng-click="logout()">
        Logout <span class='glyphicon glyphicon-off'></span>
      </button>
      <br/><br/>
    </header>
    <ui-view></ui-view>
  </body>
</html>
